<!DOCTYPE html>
<head>
<title>Layout</title>
<link rel="shortcut icon" href="favicon.ico">
<link rel="stylesheet" type="text/css" href="styles_old.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.js"></script>
<script type="text/javascript" src="jquery.hotkeys.js"></script>
<script type="text/javascript" src="scripts.js"></script>
</head>

<body>

<div id="title">LAYOUT</div>
<span id="log_mode">LOG</span><span id="plan_mode">PLAN</span><br>

<div id="task_list">
	<div id="tasks"></div>
	<div id="add"><a style="display:block;" href="#">+</a></div>
</div><br><br>

<span id="tools">
	&nbsp;<a href="http://www.teuxdeux.com/login" target="_blank">tasks</a> - <a href="" class="inactive">import/export</a> - <a href="" class="inactive">alarms</a> - <a href="" class="inactive">defaults</a> - <a href="" class="inactive">calc</a>&nbsp;
</span>

<script type="text/javascript">init()</script>

</body>
