<!DOCTYPE html>
<head>
<title>Layout</title>
<link rel="shortcut icon" href="favicon.ico">
<link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body><div align="center">

<div id="title">LAYOUT</div><br>
<table id="tasks">
	<tr><td>
		at <input type="text" class="time">
		do <input type="text" class="task"> <a href="javascript:deleteTask()" class="delete">X</a>
	</td></tr><tr><td>
		at <input type="text" class="time">
		do <input type="text" class="task"> <a href="javascript:deleteTask()" class="delete">X</a>
	</td></tr><tr><td href="javascript:newTask()" id="add">
		<a href="">+</a>
	</td></tr>
</table>

<div id="tools"><span>
	&nbsp;<a href="http://www.teuxdeux.com/login" target="_blank">tasks</a> - <a href="">import/export</a> - <a href="">alarms</a> - <a href="">defaults</a> - <a href="">calc</a>&nbsp;
</span></div>

</div></body>
