/* major page sections */
body {
  font-family: "Roboto", sans-serif;
}

.main-column {
  max-width: 800px;
  margin: 0 auto;
}

footer {
  text-align: center;
  font-size: 12px;
  margin-bottom: 15px;
}

/* page content */
.email {
  display: none;
}

/* projects page */
a.well {
  color: #999;
  text-decoration: none;
  padding: 19px; 
  display: block;
}

.well:hover {
  background-color: #283033;
}

.well .project-title {
  color: #33b5e5;
  font-size: 31.5px;
  line-height: 31.5px;
}

.sidebar a {
  background-color: #131517;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    width: 115px;
  }
}
