/* major page sections */
.main-column {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.content {
  margin-bottom: 50px;
}

footer {
  text-align: center;
  font-size: 12px;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  padding-bottom: 0;
}

/* page content */
.email {
  display: none;
}

/* projects page */
.well {
  padding: 0;
}

a.well {
  color: #999;
  text-decoration: none;
  padding: 19px; 
  display: block;
}

.well:hover {
  background-color: #283033;
}

.well .project-title {
  color: #33b5e5;
  font-size: 31.5px;
  line-height: 31.5px;
}

.sidebar a {
  background-color: #131517;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    width: 115px;
  }
}
