/* major page sections */
.main-column {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.content {
  padding: 0 10px;
  font-size: 14px;
  margin-bottom: 50px;
}

footer {
  text-align: center;
  font-size: 12px;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  padding-bottom: 0;
}

/* navbar */
.navbar-inner {
  border: 1px solid #222;
}

.navbar-brand:hover {
  background-color: inherit;
}

/* page content */
h1, h2 {
  margin-top: 0;
}

th {
  color: #ccc;
}

.email {
  display: none;
}

/* home page */
.links {
  font-size: 16px;
  font-weight: bold;
}

/* skills page */
table a {
  border-bottom: 1px dotted #999;
  color: inherit;
}

table a:hover {
  border-bottom: 1px solid #999;
  text-decoration: none;
}

/* projects page */
.well {
  padding: 0;
}

.well a {
  color: #999;
  text-decoration: none;
  /*padding: 19px; */
  padding: 10px 19px;
  display: block;
  width: 100%;
  height: 100%;
}

.well:hover {
  color: #eee;
  /*background-color: #131517 */
  background-color: #283033;
}

.well .project-title {
  color: #33b5e5;
  font-size: 31.5px;
  line-height: 31.5px;
}

.well .version {
  float: right;
}

.sidebar a {
  background-color: #131517;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 70px;
    width: 115px;
  }
}

/* 404 page */
.jumbotron .btn {
  margin-right: 10px;
  margin-bottom: 10px;
}

/* responsive display tweaks for mobile devices */
@media (max-width: 768px) {
  body {
    padding: 0;
  }
}
