/* page */
#main-column {
	position: relative;
	max-width: 800px !important;
}

/* navbar */
.navbar {
	font-weight: bold;
	margin: 0;
	box-shadow: 0px 0px 3px 3px #999;
}
.nav-pills {
	font-weight: bold;
	margin: 0;
}
.brand {
	font-weight: bold !important;
}

/* page content */
#content {
	padding: 10px;
	font-size: 14px;
	margin-bottom: 50px;
}
footer {
	text-align: center;
	font-size: 12px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	margin-bottom: 15px;
	padding-bottom: 0;
}
.email {
	display: none;
}

/* home page */
#links {
	font-size: 16px;
	font-weight: bold;
}

/* skills page */
table a {
	color: inherit;
	border-bottom: 1px dotted #999;
}
table a:hover {
	color: inherit;
	border-bottom: 1px solid #999;
	text-decoration: none;
}

/* projects page */
a.well {
	color: #999;
	text-decoration: none;
}
a.well h2 {
	color: #33b5e5;
}
a.well .version {
	float: right;
}
a.well:hover, a.well:hover h2 {
	color: #eee;
}

/* responsive stuff */

/* landscape phones and down */
@media (max-width: 480px) {
	body {
		padding: 0;
	}
}

/* landscape phone to portrait tablet */
@media (max-width: 768px) {
	body {
		padding: 0;
	}
}

/* portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 980px) {
}

/* large desktop */
@media (min-width: 1200px) {
}
