# 404 page
ErrorDocument 404 http://thenickperson.com/404.html
# redirect (no www)
RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www\.thenickperson\.com)(:80)? [NC]
RewriteRule ^(.*) http://thenickperson.com/$1 [R=301,L]
# default charset
AddDefaultCharset utf-8
# compress files
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
# cache files
<FilesMatch ".(gif|jpg|jpeg|png|ico)$">
#Header set Cache-Control "max-age=2592000"
</FilesMatch>