---
redirect_from:
- /projects/
- /skills/
- /talks/
---

<h2>About</h2>

<ul>
  <li><a href="https://www.rit.edu/">Rochester Institute of Technology</a> graduate</li>
  <li>Software engineer</li>
  <li>Web developer</li>
  <li>Open source contributor</li>
</ul>

<!-- Categorized project listing -->

{% for pair in site.data.projects %}
  {% assign category = pair[0] %}
  {% assign projects = pair[1] %}

  <section>
    <!-- Category -->
    <h2 id="{{ category | slugify }}">{{ category }}</h2>

    <!-- Get URL from the github, speakerdeck, or url field -->
    {% for project in projects %}
      {% if project.github %}
        {% assign repository = site.github.public_repositories | where: "name", project.github | first %}
        {% assign url = repository.homepage | default: repository.html_url %}
      {% elsif project.speakerdeck %}
        {% assign url = "https://speakerdeck.com/nickmccurdy/" | append: project.speakerdeck %}
      {% else  %}
        {% assign url = project.url %}
      {% endif  %}

      {% assign name = project.name | default: repository.name %}
      {% assign date = project.date %}
      {% assign description = project.description | default: repository.description %}

      <article>
        <header>
          <!-- Name -->
          <h3><a href="{{ url }}">{{ name }}</a></h3>

          <!-- Date -->
          {% if date %}
            <time datetime="{{ date | date: '%Y-%m-%d' }}">{{ date | date: '%B %-d, %Y' }}</time>
          {% endif %}
        </header>

        <!-- Desription -->
        {% if description %}<p>{{ description }}</p>{% endif %}
      </article>
    {% endfor %}
  </section>
{% endfor %}
