---
layout: default
title: Home
permalink: /
---

<div class="row">

  <!-- about me -->
  <section class="col-sm-10">
    {% capture about_me %}{% include about_me.md %}{% endcapture %}
    {{ about_me | markdownify }}
  </section>

  <!-- links -->
  <aside class="col-sm-2">
    <h1>Links</h1>
    <div class="list-group">
      {% for link in site.data.links %}
        <a href="{{link.url}}" class="list-group-item" target="_blank">
          {{link.name}}
        </a>
      {% endfor %}
    </div>
  </aside>

</div>
