/* PAGE SIZE TWEAKS */
body {font-size: 14px;}
#page {width: 320px;}
#title {font-size: 24px;}
.nav_button {font-size: 24px; margin: 0px;}
#top_spacer {height: 50px;}
#content {text-align: justify;}
ul {text-align: justify; width: auto;}
.nav_button a {padding-left: 5px; padding-right: 5px;}

/* CONTENT SIZE TWEAKS */
ul {margin: 0;}
.section {font-size: 18px;}

/* ELEMENT HIDING */
#shortcuts, #social, #webklipper-publisher-widget-container, #bottom_spacer {display: none;}
