---
layout: default
title: Projects
permalink: projects/
---

<div class="row-fluid">

  <div class="span2">

    <!-- projects navbar -->
    <ul class="nav nav-tabs nav-stacked sidebar">
      <li><a href="#command-line-apps">Command Line Apps and Libraries</a></li>
      <li><a href="#browser-extensions">Browser Extensions</a></li>
      <li><a href="#config-files">Config Files</a></li>
      <li><a href="#web-apps">Web Apps</a></li>
      <!--<li><a href="#web-themes">Web Themes</a></li>-->
      <li><a href="#miscellaneous">Miscellaneous</a></li>
    </ul>

  </div>

  <div class="span10">

    {% for category in site.data.projects %}

      <h2 id="{{category.id}}">{{category.name}}</h2>

      {% for project in category.projects %}
        <a class="well" href="{{project.url}}" target="_blank">
          {% if project.version %}
            <span class="badge badge-info pull-right">{{project.version}}</span>
          {% endif %}
          <p class="project-title">{{project.name}}</p>
          {% if project.label %}
            <span class="label">&nbsp;{{project.label}}&nbsp;</span>
          {% endif %}
          {{project.description}}
        </a>
      {% endfor %}

    {% endfor %}

  </div>

</div>
