---
layout: default
title: Projects
permalink: projects/
---

<div class="row-fluid">

  <div class="span2">

    <!-- projects navbar -->
    <ul class="nav nav-tabs nav-stacked sidebar">
      {% for category in site.data.projects %}
        <li><a href="#{{category.id}}">{{category.name}}</a></li>
      {% endfor %}
    </ul>

  </div>

  <div class="span10">

    {% for category in site.data.projects %}

      <h2 id="{{category.id}}">{{category.name}}</h2>

      {% for project in category.projects %}
        <a class="well" href="{{project.url}}" target="_blank">
          {% if project.version %}
            <span class="badge badge-info pull-right">{{project.version}}</span>
          {% endif %}
          <p class="project-title">
            {{project.name}}
            {% if project.label %}
              <span class="label label-info pull-right">{{project.label}}</span>
            {% endif %}
          </p>
          {{project.description}}
        </a>
      {% endfor %}

    {% endfor %}

  </div>

</div>
