---
layout: default
title: Skills
permalink: skills/
---

<!-- skills -->
<section>
  <h1>Skills</h1>
  <p>
    I have at least a basic understanding of the following languages and
    technologies:
  </p>
  <div class="row">
    {% for category in site.data.skills %}
      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">{{category.name}}</div>
          <ul class="list-group">
            {% for skill in category.skills %}
              <li class="list-group-item">{{skill}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
