/* page */
body {
	background-color: #eee9e9;
	margin-top: 20px;
}
.navbar-inner {
	border-radius: 0 !important;
}
footer {
	text-align: center;
}

/* projects */
.projects-page a.well {
	display: block;
	text-decoration: none;
}
.projects-page a.well:hover {
	background-color: #eee;
}
.projects-page a.well .version {
	color: #666;
}
.projects-page a.well:hover .version {
	color: #333;
}
.projects-page a.well .desc {
	color: #333;
}
