/* page */
html {
	height: 100%;
}
body {
	height: 100%;
	background-color: #666;
}

/* navbar */
.navbar {
	margin: 0;
	font-weight: bold;
}
.navbar-inner {
	border-radius: 0;
}

/* major blocks */
.vertical-stripe {
	background-color: #444;
	height: 100%;
}
.content {
	background-color: #333;
	color: #ddd;
	/*padding: 10px;*/
}

/* misc */
footer {
	text-align: center;
	color: #aaa;
	font-size: 12px;
	margin-top: 20px;
}

/* projects */
.projects-page a.well {
	display: block;
	text-decoration: none;
}
.projects-page a.well:hover {
	background-color: #eee;
}
.projects-page a.well .version {
	color: #666;
}
.projects-page a.well:hover .version {
	color: #333;
}
.projects-page a.well .desc {
	color: #333;
}
