		<!-- error message -->
		<section class="hero-unit">

			<!-- title-->
			<h1>404 - Page not found</h1>

			<!-- description -->
			<p>
				The page you were trying to visit could not be found.<br>
				You may be going to a page that doesn't exist, mistyping the URL of the page, or visiting a broken link.
			</p>

			<!-- buttons -->
			<p>
				<a class="btn btn-large" href="/index">
					<i class="icon-home"></i> Home
				</a>
				<a class="btn btn-large btn-danger" href="javascript:history.go(-1)">
					<i class="icon-arrow-left icon-white"></i> Back
				</a>
				<span class="email">
					<a class="btn btn-large btn-primary" data-email="thenickperson AT gmail DOT com" href="#">
						<i class="icon-envelope icon-white"></i> Report
					</a>
				</span>
			</p>

		</section>
