		<div class="row-fluid">

		<div class="span2">

			<!-- projects navbar -->
			<ul class="nav nav-tabs nav-stacked" id="sidebar">
				<li><a href="#command-line-apps">Command Line Apps and Libraries</a></li>
				<li><a href="#browser-extensions">Browser Extensions</a></li>
				<li><a href="#config-files">Config Files</a></li>
				<li><a href="#web-apps">Web Apps</a></li>
				<%#<li><a href="#web-themes">Web Themes</a></li>%>
				<li><a href="#miscellaneous">Miscellaneous</a></li>
			</ul>

		</div>

		<div class="span10">

			<section>
				<h1 id="command-line-apps">Command Line Apps and Libraries</h1>
				<div class="row-fluid">

					<a class="span6 well" href="https://github.com/thenickperson/tracking" target="_blank">
						<h2>Tracking</h2>
						<span class="label">&nbsp;GitHub&nbsp;</span>
						A simple and configurable command line time tracker.
					</a>

					<a class="span6 well" href="https://github.com/thenickperson/magician" target="_blank">
						<h2>Magician</h2>
						<span class="label">&nbsp;GitHub&nbsp;</span>
						A suite of handy methods for doing calculations in irb.
					</a>

				</div>
			</section>

			<section>
				<h1 id="browser-extensions">Browser Extensions</h1>
				<div class="row-fluid">

					<a class="span6 well" href="https://github.com/wyantb/HashMask/" target="_blank">
						<h2>HashMask</h2>
						<span class="label">&nbsp;GitHub&nbsp;</span>
						A Chrome extension that enhances password fields (a collaboration
						with Brian Wyant and Daniel Wallach).
					</a>

					<a class="span6 well" href="http://userstyles.org/styles/59527/powerfox-ui-improvements-for-firefox-power-users" target="_blank">
						<h2>Powerfox</h2>
						A simple collection of tweaks for Firefox that make it a little
						awesomer for power users, or just those who would like a little more
						out of their browser UI.
					</a>

				</div>
			</section>

			<section>
				<h1 id="config-files">Config Files</h1>
				<div class="row-fluid">

					<a class="span6 well" href="https://github.com/thenickperson/castle" target="_blank">
							<h2>My Castle (Dotfiles)</h2>
							<span class="label">&nbsp;GitHub&nbsp;</span>
							My personal configuration files, themes, and scripts for
							Linux/Unix software.
					</a>

					<a class="span6 well" href="https://github.com/thenickperson/sane-defaults" target="_blank">
							<h2>Sane Defaults</h2>
							<span class="label">&nbsp;GitHub&nbsp;</span>
							Configs that make Linux/Unix programs safer, better, and more
							intuitive, the way they should be.
					</a>

				</div>
			</section>

			<section>
				<h1 id="web-apps">Web Apps</h1>
				<div class="row-fluid">

					<a class="span6 well" href="apps/text_tools/index.html" target="_blank">
						<span class="version">1.6</span>
						<h2>Text Tools</h2>
						A handy text editor for batch manipulations of text.
					</a>

					<a class="span6 well" href="apps/mtb/index.html" target="_blank">
						<span class="version">1.2</span>
						<h2>Multi-Tab Bookmarks</h2>
						Save bookmarks that open sets of links in multiple tabs or windows.
					</a>

				</div>
				<div class="row-fluid">

					<a class="span6 well" href="apps/quick_note/index.html" target="_blank">
						<span class="version">1.0</span>
						<h2>Quick Note</h2>
						A minimal app to save reminders and other short text.
					</a>

					<a class="span6 well" href="apps/screen_space/index.html" target="_blank">
						<span class="version">1.0</span>
						<h2>Screen Space</h2>
						See detailed information about pixel usage in your browser and OS,
						all in one place.
					</a>

				</div>
				<div class="row-fluid">

					<a class="span6 well" href="apps/collatz/index.html" target="_blank">
						<span class="version">1.0</span>
						<h2>Collatz Conjecture</h2>
						Calculute sets of integers using the Collatz Conjecture.
					</a>

				</div>
			</section>

			<%#
			<section>
				<h1 id="web-themes">Web Themes</h1>
				<div class="row-fluid">

					<a class="span6 well" href="apps/" target="_blank">
						<h2>Curious</h2>
					</a>

					<a class="span6 well" href="apps/" target="_blank">
						<h2>Nerdy Minimalist</h2>
					</a>

				</div>
			</section>
			%>

			<section>
				<h1 id="miscellaneous">Miscellaneous</h1>
				<div class="row-fluid">

					<a class="span6 well" href="https://github.com/thenickperson/simple-web-templates" target="_blank">
						<h2>Simple Web Templates</h2>
						<span class="label">&nbsp;GitHub&nbsp;</span>
						A small collection of simple templates and useful tools for awesome
						modern web development.
					</a>

					<a class="span6 well" href="https://github.com/thenickperson/project-euler" target="_blank">
						<h2>Project Euler Solutions</h2>
						<span class="label">&nbsp;GitHub&nbsp;</span>
						My solutions to Project Euler problems.
					</a>

				</div>
				<div class="row-fluid">

					<a class="span6 well" href="https://github.com/thenickperson" target="_blank">
						<h2>More Stuff</h2>
						<span class="label">&nbsp;GitHub&nbsp;</span>
						Check out all my GitHub repositories, including a bunch not listed
						here.
					</a>

				</div>
			</section>

		</div>

		</div>
