		<!-- skills -->
		<section>
			<h1>Skills</h1>
			<p>
				I have at least a basic understanding of the following languages and
				technologies:
			</p>
			<table class="table table-bordered table-condensed">
				<tr>
					<th>Programming Languages</th>
					<th>Web Languages</th>
					<th>Robotics Languages</th>
					<th>Command Line Shells</th>
					<th>Version Control Systems</th>
				</tr>
				<tr>
					<td>Python</td>
					<td>HTML 4</td>
					<td><a href="#" title="C-like, for Lego Mindstorms Robotics">NXC</a></td>
					<td><a href="#" title="usually the default on Linux/Unix">Bash</a></td>
					<td>Git</td>
				</tr>
				<tr>
					<td>Java</td>
					<td>HTML 5</td>
					<td><a href="#" title="C-based, for Lego Mindstorms Robotics">RobotC</a></td>
					<td><a href="#" title="based off of Bash">Zsh</a></td>
					<td>Mercurial</td>
				</tr>
				<tr>
					<td>Ruby</td>
					<td>CSS</td>
					<td></td>
					<td></td>
					<td><a href="#" title="with TortoiseSVN">Subversion</a></td>
				</tr>
				<tr>
					<td>Lua</td>
					<td><a href="#" title="and jQuery">JavaScript</a></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</section>
