/* background */
html { padding: 0px; margin: 0px; }
body
{
	background-color: #333;
	color: #bbb;
	padding: 0px;
	margin: 0px;
}

/* header */
header
{
	background-color: #222;
	font-weight: bold;
	padding: 10px;
    /*border-bottom: 1px solid #000;*/
}
#logo
{
	font-family: 'Quicksand', sans-serif;
	font-size: 42px;
}
#toolbar
{
	background-color: #555;
	padding: 10px;
	/*border: 1px solid #000;*/
}
.btn
{
	padding: 5px;
}
#copy_notice
{
	display: none;
	background-color: #d00;
	padding: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	font-weight: bold;
}
#copy_notice_bar
{
	position: fixed;
	top: 0px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	text-align: center;
}

/* content */
.box
{
	font-size: 24px;
	background-color: #222;
	padding: 15px;
	margin: 15px;
	float: left;
	max-width: 300px;
	/*border: 1px solid #000;*/
}
.box.hover {background-color: #555;}
.box.active {background-color: #111;}
.cont {padding: 0px; margin: 0px;}
