{% for category in site.data.projects %}
  <section>
    <h2 id="{{ category.name | slugify }}">{{ category.name }}</h2>

    {% for project in category.projects %}
      <article>
        <header>
          <h3>
            <a href="{{ project.url }}">{{ project.name }}</a>
          </h3>

          {% if project.date %}<time datetime="{{ project.date | date: '%Y-%m-%d' }}">{{ project.date | date: '%B %-d, %Y' }}</time>{% endif %}
        </header>

        {% if project.description %}<p>{{ project.description }}</p>{% endif %}
      </article>
    {% endfor %}
  </section>
{% endfor %}
