---
---

body {
  font-family: "Source Serif Pro", serif;
  font-size: 20px;
  color: #444;
  padding: 10px;
  background-color: #eee;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif;
  color: #000;
}

nav {
  font-family: "Source Sans Pro", sans-serif;
}
nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #bbb;
  border-top: 2px solid #bbb;
  border-bottom: 2px solid #bbb;
  list-style: none;
  padding: 0;
  font-weight: bold;
}
nav li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  height: 100%;
  vertical-align: middle;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
}
nav li a {
  color: #0074d9;
  text-decoration: none;
  display: block;
  padding: 10px;
}
nav .active a {
  background-color: #bbb;
}

.main-column {
  max-width: 750px;
  margin: 0 auto;
}

footer {
  text-align: center;
  font-size: 12px;
  margin-bottom: 15px;
}

a {
  color: #0074d9;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

hr {
  border: solid #bbb 1px;
}

/* Helpers, some borrowed from Bootstrap */

/* Inline list items */
.list-inline {
  padding-left: 0;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding: 0 5px;
}

/* Indented only removes list-style */
.list-indented {
  list-style: none;
}
