---
---

// Colors
$background-color: #f6f6f6;
$heading-color: #000;
$hr-color: #bbb;
$link-color: #0074d9;
$link-color-active: #b10dc9;
$nav-color: #888;
$nav-color-active: #444;
$text-color: #444;

// Fonts
$body-font: "Source Serif Pro", serif;
$heading-font: "Source Sans Pro", sans-serif;

// General

body {
  max-width: 750px;
  margin: 0 auto;
  font-family: $body-font;
  font-size: 20px;
  color: $text-color;
  padding: 10px;
  background-color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  color: $heading-color;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: $link-color-active;
  }
}

hr {
  border: solid $hr-color 1px;
}

footer {
  text-align: center;
  font-size: smaller;
  margin-bottom: 15px;
}

// Nav
nav {
  font-family: $heading-font;
  background-color: $nav-color;

  ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
    font-weight: bold;
  }

  li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    height: 100%;
    vertical-align: middle;

    &.active, &:hover {
      background-color: $nav-color-active;
    }
  }

  a {
    color: $background-color;
    text-decoration: none;
    display: block;
    padding: 10px;

    &:hover {
      text-decoration: none;
    }

    &:visited {
      color: $background-color;
    }
  }
}

// Helpers, some borrowed from Bootstrap

// Inline list items
.list-inline {
  padding-left: 0;
  margin-left: -5px;

  > li {
    display: inline-block;
    padding: 0 5px;
  }
}

// Indented only removes list-style
.list-indented {
  list-style: none;
}
