body
{
	font-family: Arial,sans-serif;
	text-align: center;
	color: #ddd;
	background-color: #000;
	font-size: 12px;
}
a
{
	color: #ddd;
	cursor: pointer;
	border: 1px solid white;
	text-decoration: none;
	padding: 0px 2px;
}
a:hover
{
	color: #fff;
	background-color: #444;
}
a:active
{
	color: #f00;
	background-color: #800;
}
#title
{
	color: white;
	font-size: 20px;
	font-weight: bold;
}
#tasks,input[type=text] {font-family: "Droid Sans Mono",monospace;}
#tasks input[type=text]
{
	width: 300px;
	margin-top: -1px;
}
input[type=text]
{
	background-color: #000;
	border: 1px dotted #fff;
	font-size: 12px;
	color: #fff;
}
#tasks a
{
	border: 1px dotted #fff;
	padding: 1px 2px;
}
#tasks div:last-child input[type=text]
{
	border: 1px solid #88f !important;
}
#tasks div:last-child
{
	color: #bbf;
}
#add
{
	width: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
.seconds {font-size: 9px;}
.date {font-weight: bold; font-style: italic;}
.time_numeric {display: none;}
#importer,#exporter
{
	display: none;
	margin-top: 10px;
	margin-left: auto; margin-right: auto;
}
#importer input[type=text],#exporter input[type=text]
{
	width: 250px;
}
#clock
{
	color: white;
}
#vert_space {height: 7px;}
/*
#log_mode,#plan_mode
{
	font-size: 16px;
	padding: 0px 3px;
	margin-left: 5px;
	font-weight: bold;
}
#log_mode
{
	color: #fff;
	background-color: #800;
}
*/
