/*major ui*/
html {
	height: 100%;
}
body
{
	height: 100%;
	/*overflow: hidden;*/
}
#ui
{
	background: #696969; /* LOL */
	border-spacing: 0;
	height: 100%;
	width: 100%;
}
#ui td {
	vertical-align: top;
}
/*title bar*/
#titlebar
{
	background: #000;
	color: #fff;
	font-size: 18px;
	height: 30px;
}

/*text input*/
.text_field_container {
	width: 50%;
	height: 100%;
}
#text_before, #text_after {
	resize: none;
	height: 100%;
	width: 100%;
	background-color: #dcdcdc;
}

/*effects*/
.effects
{
	font-weight: bold;
}
.effects td {
	text-align: center;
}
.panel {
	color: #fff;
}
.panel {
	background-color: #404040;
	cursor: pointer;
}
.panel:hover {
	background-color: #888;
}
.panel:active {
	background-color: #000;
}
a {
	color: #dcdcdc;
	cursor: pointer;
}
a:active,.active {
	color: #ff0;
}

/*toolbar*/
#toolbar {
	background-color: #404040;
	color: #fff;
	height: 30px;
}
#toolbar a {
	color: #fff;
	font-weight: normal;
	display: inline;
	text-decoration: underline;
}
#toolbar th {
	text-align: left;
}
.separator {
	font-weight: normal;
	color: #bbb;
}
