/*major ui*/
body
{
	background: #696969; /* LOL */
	height: 100%;
}
#mainui {
	height: 100%;
}
#mainui>div {
	height:100% !important;
}

/*title bar*/
#titlebar
{
	background: #000;
	color: #fff;
	font-size: 18px;
	padding: 10px;
	font-weight: bold;
}

/*text input*/
#text_before, #text_after {
	margin: 0;
	padding: 0;
	resize: none;
	height: 100%;
	width: 100%;
	background-color: #dcdcdc;
	height: 500px;
}

/*effects*/
#effects
{
	font-weight: bold;
}
#effects a {
	color: #dcdcdc;
	cursor: pointer;
	text-decoration: none;
	font-size: 16px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#effects a:hover {
	color: #fff;
	text-decoration: none;
}
#effects a {
	display: block;
}
#effects a:active {
	color: #00f;
}
#effects .active {
	background-color: #222;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 -border-radius: 5px;
}
.panel_title {
	background-color: #404040;
	color: #fff;
	cursor: pointer;
	padding: 5px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.panel_title:hover {
	background-color: #888;
}
.panel_title:active {
	background-color: #000;
}
.panel_title .left {
	float: left;
}
.panel_title .right {
	float: right;
}

/*toolbar*/
#toolbar {
	background-color: #404040;
	color: #fff;
}
#toolbar a {
	color: #fff;
	font-weight: normal;
	text-decoration: underline;
}
#toolbar th {
	text-align: left;
}
#toolbar .separator {
	font-weight: normal;
	color: #bbb;
}

/*titlebar*/
#titlebar div {
	text-align: center;
}
#titlebar {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.input-append input[type='text'] {
	margin: 0;
}
#text_before_container, #text_after_container {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
