<!DOCTYPE html>
<html lang="en">
<head>
  <!-- basic info -->
  <meta charset="utf-8">
  <title>Nicolas McCurdy - {{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- css -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700">
  <link rel="stylesheet" href="https://unpkg.com/normalize.css@4.2.0">
  <link rel="stylesheet" href="https://unpkg.com/font-awesome@4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/style.css">
  <!-- icons -->
  <link rel="icon" href="{{ site.baseurl }}/assets/favicon.png">
  {% include analytics.html %}
</head>

<body>
  <nav>
    <div class="container">
      <a href="{{ site.baseurl }}/">
        <h1>Nicolas McCurdy</h1>
      </a>
      <ul>
        {% for nav_page in site.pages %}
          {% if nav_page.title and nav_page.title != 'About' %}
            {% include nav_link.html page=nav_page %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>

  <div class="container">
    {{ content }}
  </div>

  <footer>
    <div class="container">
      <ul class="list-horizontal">
        {% for link in site.data.links %}
          <li>
            <a href="{{ link.url }}" title="{{ title.name }}"{% if link.proofer_ignore %} data-proofer-ignore{% endif %}>
              <span class="fa fa-fw fa-{{ link.icon }}"></span>
              {{ link.name }}
            </a>
          </li>
        {% endfor %}
      </ul>

      <a class="report-link" href="https://github.com/nicolasmccurdy/nicolasmccurdy.github.io/issues/new">
        <span class="fa fa-fw fa-bug"></span>
        Report an Issue
      </a>

      <div>&copy; 2015 Nicolas McCurdy</div>
    </div>
  </footer>
</body>
</html>
