<!doctype html>
<html lang="en">
  <head>
    <!-- Metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <link rel="icon" href="/assets/favicon.png">
    <meta name="theme-color" content="#444">
    {% seo title=false %}

    <!-- Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-22970573-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-22970573-1');
    </script>

    <!-- CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700%7CSource+Serif+Pro">
    <link rel="stylesheet" href="https://unpkg.com/@fortawesome/fontawesome-free-webfonts@1.0.1/css/fontawesome.css">
    <link rel="stylesheet" href="https://unpkg.com/@fortawesome/fontawesome-free-webfonts@1.0.1/css/fa-solid.css">
    <link rel="stylesheet" href="https://unpkg.com/@fortawesome/fontawesome-free-webfonts@1.0.1/css/fa-brands.css">
    <link rel="stylesheet" href="/assets/style.css">
  </head>

  <!-- Navigation -->
  <header class="nav-header">
    <div class="container">
      <ul class="list-horizontal">
        <li><h1>{{ site.title }}</h1></li>

        <li>
          <!-- External icon links -->
          <nav>
            {% for link in site.data.links %}
              <a href="{{ link.url }}" aria-label="{{ link.name }}">
                <span class="{{ link.icon }} fa-fw" aria-hidden="true"></span>
              </a>
            {% endfor %}
          </nav>
        </li>
      </ul>

      <!-- Category links -->
      <nav>
        <ul class="list-horizontal">
          {% for pair in site.data.projects %}
            {% assign category = pair[0] %}
            <li><a href="/#{{ category | slugify }}">{{ category  }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </header>

  <!-- Content -->
  <main class="container">{{ content }}</main>
</html>
