<!DOCTYPE html>
<html lang="en">
<head>
  <!-- basic info -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Nicolas McCurdy - {{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- css -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,700">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <!-- icons -->
  <link rel="icon" href="/img/favicon.png">
  {% include analytics.html %}
</head>

<body{% if page.title == "Projects" %} data-spy="scroll" data-target=".main-column"{% endif %}>

  <!-- main column -->
  <div class="container main-column">

    <!-- navbar -->
    <nav class="navbar navbar-default" role="navigation">
      <!-- navbar header, always displayed -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Nicolas McCurdy</a>
      </div>

      <!-- navbar collapse, toggled on mobile devices -->
      <div class="collapse navbar-collapse" id="main-navbar-collapse">
        <ul class="nav navbar-nav">
          {% include navbar_link.html name="Home" url="/" icon="home" %}
          {% include navbar_link.html name="Skills" url="/skills/" icon="book" %}
          {% include navbar_link.html name="Projects" url="/projects/" icon="th-list" %}
        </ul>
      </div>
    </nav>

    <!-- page content -->
    <div class="content">
      {{ content }}
    </div>

    <!-- footer -->
    <footer>
      &copy; 2013 Nicolas McCurdy<br>

      <a href="https://github.com/nicolasmccurdy/nicolasmccurdy.github.io/issues/new">
        Report an Issue
      </a>
    </footer>

  </div>

  <!-- scripts -->
  <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-smooth-scroll/1.4.12/jquery.smooth-scroll.min.js"></script>
  <script src="/js/main.js"></script>
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</body>
</html>
