body
{
  background-color: #DDDDDD;
  color: #000000;
  font-family: "Arial Black",Gadget,sans-serif;
  font-size: 14px;
}
table
{
  font-size: 32px;
  margin-left: auto;
  margin-right: auto;}
th
{
  text-align: right;
  padding-right: 30px;
}
.lost
{
  color: #666666;
  font-size: 20px;
}
.lost img
{
  opacity: 0.5;
}
div
{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}
#note
{
  font-size: 12px;
}

.width {text-align: right;}
.by {text-align: center;}
.height {text-align: left;}
